.c-legal {
	display: flex;
	flex-direction: column;
}

.c-legal__main {
	max-width: var(--width);
	margin: 0 auto;
	padding: var(--page-spacing);
	flex: 1;
}

.c-legal__main a {
	text-decoration: underline;
	font-weight: 600;
}
