.c-checkbox {
	position: relative;
	appearance: none;
	background-color: var(--light-pink);
	margin: 0;
	font: inherit;
	color: currentcolor;
	width: 1.8em;
	height: 1.8em;
	border: 1px solid var(--pink);
	border-radius: 100%;
	border-width: var(--border-width-m);
	display: grid;
	place-content: center;
	cursor: pointer;
}

.c-checkbox:checked {
	background-color: var(--navy);
	border-color: var(--navy);
}

.c-checkbox::before {
	content: "";
	display: block;
	width: 1em;
	height: 1em;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.c-checkbox:checked::before {
	background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.1799 2.42949L6.17988 9.42949C5.66582 9.94355 4.83457 9.94355 4.32598 9.42949L0.825977 5.92949C0.311914 5.41543 0.311914 4.58418 0.825977 4.07559C1.34004 3.56699 2.17129 3.56152 2.67988 4.07559L5.25019 6.6459L11.3205 0.570117C11.8346 0.0560547 12.6658 0.0560547 13.1744 0.570117C13.683 1.08418 13.6885 1.91543 13.1744 2.42402L13.1799 2.42949Z' fill='%23FFD6CF'/%3E%3C/svg%3E");
}
