.c-mkt-purpose {
	list-style: none;
	padding: 0;
}

.c-mkt-purpose--item {
	display: flex;
	flex-direction: row;
	gap: var(--s-padding);
}

.c-mkt-purpose--title {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: var(--s-padding);
	border-radius: 1rem;
	font-weight: bold;
	font-size: 1.1rem;
}

.c-mkt-purpose > p {
	padding-left: calc(68px + var(--s-padding));
	margin-top: 0;
	margin-bottom: var(--l-padding);
}

.c-mkt-purpose > p:last-child {
	margin-bottom: 0;
}

.c-mkt-purpose--icon {
	width: 68px;
	height: 68px;
	padding: var(--s-padding);
	border-radius: 100%;
	background: var(--dark-pink);
}

.c-mkt-purpose--icon img {
	width: 100%;
	height: 100%;
}

@container (min-width: 460px) {
	.c-mkt-purpose {
		display: grid;
		grid-template-columns: min-content 1fr;
		grid-template-rows: repeat(3 auto);
		gap: var(--s-padding);
	}

	.c-mkt-purpose > p {
		padding-left: 0;
		margin-bottom: 0;
	}

	.c-mkt-purpose--title {
		flex-direction: column;
		background: var(--pink);
		padding: var(--s-padding);
		text-align: center;
	}
}

@container (min-width: 980px) {
	.c-mkt-purpose {
		grid-template-columns: repeat(3, minmax(0, 1fr));
		grid-template-rows: min-content 1fr;
	}

	.c-mkt-purpose--title {
		padding: var(--m-padding);
	}

	/* stylelint-disable declaration-block-no-redundant-longhand-properties */
	.c-mkt-purpose--title:nth-of-type(1) {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	.c-mkt-purpose > p:nth-of-type(1) {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
	}

	.c-mkt-purpose--title:nth-of-type(2) {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	.c-mkt-purpose > p:nth-of-type(2) {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
	}

	.c-mkt-purpose--title:nth-of-type(3) {
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	.c-mkt-purpose > p:nth-of-type(3) {
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 3;
	}
}
