:root {
	--light-pink: #ffe9e1;
	--pink: #ffd6cf;
	--pink-lighten: #ffd9d2;
	--pink-darken: #ffc2b8;
	--dark-pink: #ffc0b6;
	--navy: #061554;
	--navy-lighten: #092183;
	--navy-darken: #040f3b;
	--orange: #fbb03b;
	--orange-lighten: #fcc062;
	--orange-darken: #fa9e0d;

	/* The following vars are to alter toastify */
	--toastify-color-light: var(--pink);
	--toastify-text-color-light: var(--navy);
	--toastify-color-success: var(--navy);
}
