:root {
	--width: calc(100vw - 2 * clamp(var(--m-padding), 5vw, var(--xl-padding)));
	--font-size: 18px;
	--xxs-padding: 0.5rem;
	--xs-padding: 0.75rem;
	--s-padding: 1rem;
	--m-padding: 1.5rem;
	--l-padding: 3rem;
	--xl-padding: 6rem;
	--xxl-padding: 10rem;
	--center-page-width: 800px;
}

@media (width >= 1200px) {
	:root {
		--width: 1080px;
	}
}
