.l-default {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100%;
	justify-items: center;
}

.l-default__loading {
	position: absolute;
}

.l-default__header {
	width: 100%;
}

.l-default__home {
	position: absolute;
	left: 0;
	margin: 0 var(--m-padding);
}

.l-default__main {
	width: 100%;
	max-width: var(--width);
	margin: 0 auto;
	padding: var(--page-spacing) 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
