.l-qt__weeks {
	display: inline-flex;
	flex-flow: row wrap;
	gap: var(--s-padding);
}

.l-qt__weeks--nums {
	display: inline-flex;
	flex-direction: row;
	gap: calc(var(--s-padding) / 2);
}

.c-qt__week {
	--size: clamp(1rem, 5vw, 1.5rem);

	display: inline-block;
	text-align: center;
	border-radius: 100%;
	color: var(--light-pink);
	background: var(--navy);
	width: var(--size);
	height: var(--size);
	line-height: var(--size);
	font-size: clamp(0.75rem, 3vw, 1rem);
}

.c-qt__week--current {
	background: var(--orange);
}

.c-qt__week--future {
	color: var(--navy);
	background: none;
}
