.c-task-header {
	container-type: inline-size;
}

.c-task-header h2 {
	margin: 0;
}

.c-task-header h2 span {
	font-weight: normal;
}

.c-task-header__wrapper {
	position: relative;
	background: var(--pink);
	font-family: var(--title-family);
	background-image: url("/header-blob.svg"), url("/header-blob-2.svg");
	background-repeat: no-repeat, no-repeat;
	background-position: -150px 100px, right -180px top -180px;
	border-radius: 0 0 1rem 1rem;
	padding: var(--page-spacing);
	padding-top: clamp(1.5rem, 4vh, 4rem);
	padding-bottom: clamp(1.5rem, 4vh, 4rem);
}

.c-task-header__content {
	display: flex;
	flex-direction: column;
	gap: var(--s-padding);
	max-width: var(--width);
	margin: 0 auto;
	position: relative;
	z-index: 2;
}

.c-task-header__tasks {
	display: flex;
	flex-direction: row;
	gap: var(--xs-padding);
}

.c-task-header__task {
	width: 80px;
	height: 80px;
	display: flex;
	flex-direction: column;
	gap: 4px;
	text-align: center;
	justify-content: center;
	align-items: center;
	opacity: 0.5;
	border-style: solid;
	border-width: 3px;
	border-radius: 6px;
	font-size: 0.6em;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

.c-task-header__task--selected {
	border-style: none;
	background-color: var(--orange);
	opacity: 1;
}

/*

.c-task-header__content {
  flex-direction: row;
  justify-content: space-between;
} */

@container (min-width: 700px) {
	/* .c-task-header__wrapper {
    background-image: url('/header-blob.svg'), url('/header-blob.svg'), url('/header-blob-2.svg');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: -150px 80px, center -50px, right -100px top -160px;
    margin: var(--l-padding) var(--xl-padding);
    border-radius: 1rem;
  } */

	.c-task-header__content {
		flex-direction: row;
		justify-content: space-between;
	}
}

@container (min-width: 1000px) {
	.c-task-header__wrapper {
		background-image: url("/header-blob.svg"), url("/header-blob.svg"),
			url("/header-blob-2.svg");
		background-repeat: no-repeat, no-repeat, no-repeat;
		background-position: -150px 80px, center -50px, right -100px top -160px;
	}
}

@container (min-width: 1200px) {
	.c-task-header__wrapper {
		background-image: url("/header-blob.svg"), url("/header-blob.svg"),
			url("/header-blob-2.svg");
		background-repeat: no-repeat, no-repeat, no-repeat;
		background-position: -150px 80px, center -50px, right -100px top -160px;
		margin: var(--l-padding) var(--xl-padding);
		border-radius: 1rem;
	}
}
