.l-index {
	display: grid;
	grid-template-rows: 1fr auto;
	min-height: 100%;
}

.l-index__wrapper {
	width: 100%;
	max-width: var(--center-page-width);
	padding: var(--m-padding);
	justify-self: center;
}

.l-index__action {
	text-align: center;
}
