.c-dt__wrapper {
	container-type: inline-size;
}

.c-dt {
	display: grid;
	width: var(--width);
	grid-template:
		"priorities" min-content
		"notes" min-content / 1fr;
	gap: var(--m-padding);
	margin: var(--m-padding) auto;
	text-align: center;
}

.c-dt__tasks-section {
	grid-area: priorities;
}

.c-dt__notes {
	grid-area: notes;
}

.c-dt__tasks-section,
.c-dt__notes {
	width: 100%;
}

.c-dt__tasks-section > li::marker {
	font-size: 1.4rem;
	line-height: 2rem;
}

.c-dt__tasks-list {
	display: flex;
	flex-direction: column;
	gap: var(--m-padding);
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.c-dt__task,
.c-dt__notes {
	border-radius: 1rem;
	border-color: var(--pink);
	border-style: solid;
	border-width: var(--border-width-m);
	padding: clamp(1rem, 2vw, 2rem);
}

@container (width >=700px) {
	.c-dt {
		display: grid;
		grid-template: "priorities notes" 1fr / 1fr 1fr;
		gap: var(--s-padding) var(--m-padding);
		justify-content: center;
	}
}
